body{

background:#000;

font-family:Arial, Helvetica, sans-serif;

}

.admin{

max-width:390px;

margin:auto;

padding:25px;

color:white;

}

.topo{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.topo img{

width:80px;

}

.menu{

font-size:35px;

cursor:pointer;

}

h1{

text-align:center;

font-size:32px;

margin-bottom:8px;

}

p{

text-align:center;

color:#bdbdbd;

margin-bottom:30px;

}

.cards{

display:grid;

grid-template-columns:1fr 1fr;

gap:18px;

}

.card{

background:#181818;

border-radius:18px;

padding:28px 10px;

text-align:center;

cursor:pointer;

transition:.3s;

}

.card:hover{

background:#242424;

transform:scale(1.03);

}

.card svg{

font-size:42px;

color:#ff7a00;

margin-bottom:15px;

}

.card h2{

font-size:20px;

margin-bottom:8px;

}

.card p{

font-size:14px;

margin:0;

}

.sair{

margin-top:35px;

width:100%;

padding:16px;

border:none;

border-radius:14px;

background:#141414;

color:#ff4a4a;

font-size:18px;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

cursor:pointer;

}

.sair svg{

font-size:22px;

}