* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  background: black;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  width: 210px;
  min-height: 100vh;
  background: #050505;
  border-right: 1px solid #1b1b1b;
  padding: 30px 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.sidebarLogo {
  width: 90px;
  margin-bottom: 50px;
}

.sidebar ul {
  list-style: none;
  width:100%;
}

.sidebar li {
  margin-bottom: 35px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 14px;
  padding:10px 12px;
  border-radius: 10px;
}

.sidebar li:hover {
  color: orange;
}

.layout{
  display:flex;
}

.app {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  margin-left: 210px; /* mesmo width do sidebarMenu */
  flex: 1;
  min-height: 100vh;
}