* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  background: black;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  width: 230px;
  min-height: 100vh;
  background: #050505;
  border-right: 1px solid #1b1b1b;
  padding: 30px 20px;
}

.sidebarLogo {
  width: 90px;
  margin-bottom: 60px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 100px;
  color: white;
  cursor: pointer;
  transition: 0.3s;

  font-size: 22px;

  display: flex;
  align-items: center;
  gap: 14px;
}

.sidebar li:hover {
  color: orange;
}